body {
    background-image: url('../images/rein2.jpeg');
    background-size: cover;
}

/* body {
    background-size: cover;
    background:
      linear-gradient(
          180deg,
          rgba(86, 135, 184, 0.2) 20%,
          rgb(0, 0, 0) 120%
        )
        center center / 100% 100% no-repeat,
      url('../images/rein2.jpeg') center no-repeat;
  } */